<mat-toolbar color="primary">
  <span>Etiqa FE</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditEmpForm()">ADD USER</button>
</mat-toolbar>

<div class="main-body">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Username"
      #input
    />
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.userId }}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let row">{{ row.username }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let row">+60 {{ row.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEmployee(row.userId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="skill">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Skills</th>
        <td mat-cell *matCellDef="let row">
          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Skill sets</mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter skill">
              <mat-chip-row *ngFor="let skill of row.UserSkills"
                            (removed)="remove(skill, row.UserSkills, row.userId)"
                            [editable]="true"
                            (edited)="edit(skill, $event, row.UserSkills, row.userId)"
                            [aria-description]="'Press enter to edit ' + skill.name">
                {{skill.name}}
                <button matChipRemove [attr.aria-label]="'remove ' + skill.name">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="Add Skill..."
                     [matChipInputFor]="chipGrid"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event, row.UserSkills, row.userId)"/>
            </mat-chip-grid>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="hobby">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Hobbies</th>
        <td mat-cell *matCellDef="let row">
          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Hobbies</mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter hobby">
              <mat-chip-row *ngFor="let hobby of row.UserHobbies"
                            (removed)="removeHobby(hobby, row.UserHobbies, row.userId)"
                            [editable]="true"
                            (edited)="editHobby(hobby, $event, row.UserHobbies, row.userId)"
                            [aria-description]="'Press enter to edit ' + hobby.name">
                {{hobby.name}}
                <button matChipRemove [attr.aria-label]="'remove ' + hobby.name">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="Add Hobbie..."
                     [matChipInputFor]="chipGrid"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="addHobby($event, row.UserHobbies, row.userId)"/>
            </mat-chip-grid>
          </mat-form-field>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
